
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.roboto{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

body{
    background-image: url(../imgs/Backgrounds/back.png);
    background-size: 20%;
    background-repeat: repeat;
}

main{
    background-image: url(../imgs/Backgrounds/back-comentario.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5em;
}

/* CSS DA PARTE DO MENU*/
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
header{
    background-color: #3F0106;
    padding: 0.8em;
}
nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D9B992;
    text-decoration: none;
    margin: auto 0;
} 
.menu-principal{
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
}
.menu-de-usuario li{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    align-items: center;
}
.menu-de-usuario > ul{
    display: flex;
    align-items: center;
}
header .menu-principal > ul li{
    display: inline;
    margin: auto 0;
}
header .menu-de-usuario li{
    list-style-type: none;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header nav .menu-principal > ul li a{
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: #3F0106;
    border: 1px solid #3F0106;
    color: #D9B992;
    border-radius: 10px;
}
nav h2{
    margin: 0 auto;
    margin: 0 auto;
    font-size: 2.8em;
    margin-bottom: 0;
    font-weight: 400;
}
nav .menu-principal > ul li > a:hover{
    margin: auto;
    background-color: #D9B992;
    border: 1px solid #D9B992;
    color: #3F0106;
    border-radius: 10px;
}
h1{
    width: 40%;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}
.fa-solid{
    font-size: 4.5em;
    margin: 0.5em;
}
.fa-solid:hover{
    color: white;
}
.menu-de-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.user{
    border: 3px solid #3F0106;
    border-radius: 100%;
}
.user:hover{
    border: 3px solid white;
    border-radius: 100%;
}
.menu-de-usuario a{
    vertical-align: middle;
}
.menu-de-usuario li{
    vertical-align: middle;
}
img{
    vertical-align: middle;
}

/* responsividade menu */
body {
    text-align: center;
    background-color: #f8e8c8;
}
.menucelular div{
    width: 32px;
    height: 2px;
    background: #D9B992;
    margin: 8px;
    transition: 0.3s;
    z-index: 2;
}
.menucelular{
    display: none;
    cursor: pointer;
    z-index: 2;
}
.navlist{
    display: flex;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 90%;
    z-index: 3;
}
.navlist > li{
    display: inline-block;
}
@media (max-width: 1200px){
    body{
        overflow-x: hidden;
    }
    .navlist{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 400%;
        background: #3F0106;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .navlist li{
        margin-left: 0;
        opacity: 0;
    }
    .menu-principal{
        margin-top: 90px;
    }
    .menu-de-usuario{
        margin-top: 30px;
    }
    .menu-principal > li{
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .menu-de-usuario li{
        width: 100%;
        justify-content: center;
        gap: 0;
    }
    .menu1{
        margin-top:50px;
    }
    .menu2{
        width:100%;
    }
    .menucelular{
        display: block;
    }
    .navlist.active{
        transform: translateX(0);
    }
    .mais-vendidos{
        background-size: cover;
    }
}
@keyframes navLinkAparecer {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.menucelular.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.menucelular.active .linha2{
    opacity: 0;
}
.menucelular.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/* CSS dos comentários */
img{
    text-align: center;
    margin: auto 0;
}
main > a > img{
    text-align: center;
    margin: auto;
}
main > a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-inline: auto;
    margin: 3em;
}
main a{
    text-align: center;
    text-decoration: none;
}
main h2{
    text-align: center;
    color: #82451F;
}
.Mariane-Claire{
    background-color: #3F0106;
    width: 50%;
    color: #D9B992;
    border-radius: 530px 510px 510px 530px;
}
.Thierry-Augusto{
    width: 50%;
    background-color: #3E200E;
    color: #D9B992;
    border-radius: 530px 510px 510px 530px;
    text-align: right;
}
.Naomi-Isabela{
    width: 50%;
    background-color: #3F0106;
    color: #D9B992;
    border-radius: 530px 510px 510px 530px;
}
.Sebastian-Raphael{
    width: 50%;
    background-color: #3E200E;
    color: #D9B992;
    border-radius: 530px 510px 510px 530px;
    text-align: right;
}
.Eloidie-Fernanda{
    width: 50%;
    background-color: #3F0106;
    color: #D9B992;
    border-radius: 530px 510px 510px 530px;
}
.container-comentario{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin: 2em auto;
}
.comentario{
    margin: auto auto;
    width: 68%;
    font-size: 1.5em;
}
.comentario h3{
    text-align: center;
}
p{
    font-family: "Playfair-Display";
    font-style: italic;
    margin-bottom: 10px;
    padding: 10px;
}
figure{
    display: block;
    text-align: center;
    margin: 20px auto;
}