*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/Backgrounds/back.png);
    background-size: 20%;
    background-repeat: repeat;
}

main{
    background-image: url(imgs/Backgrounds/back-comentario.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

header{
    display: flex;
}

/* CSS DA PARTE DO MENU*/
header{
    background-color: #3F0106;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    align-content: center;
    padding: 0.8em;
}
nav{
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    margin: auto 0;
} 
ul{
    padding: 0; 
    text-align: center;
    margin: 0 auto;
}
li{
    display: inline;
    margin: 0 auto;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header nav li a{
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: #3F0106;
    border: 1px solid #3F0106;
    color: #D9B992;
    border-radius: 10px;
}
nav h2{
    margin: 0 auto;
    margin: 0 auto;
    font-size: 2.8em;
    margin-bottom: 0;
}
nav li > a:hover{
    margin: auto;
    background-color: #D9B992;
    border: 1px solid #D9B992;
    color: #3F0106;
    border-radius: 10px;
}
h1{
    width: 167.792px;
}