*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/Backgrounds/back.png);
    background-size: 20%;
    background-repeat: repeat;
}

header{
    display: flex;
}

/* CSS DA PARTE DO MENU*/
header{
    background-color: #3F0106;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    align-content: center;
    padding: 0.8em;
}
.menu-de-icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-de-icones ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav{
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    margin: auto 0;
} 
header ul{
    padding: 0; 
    text-align: left;
    margin: 0 auto;
}
header li{
    display: inline;
    margin: auto 0;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header nav li a{
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: #3F0106;
    border: 1px solid #3F0106;
    color: #D9B992;
    border-radius: 10px;
}
nav h2{
    margin: 0 auto;
    margin: 0 auto;
    font-size: 2.8em;
    margin-bottom: 0;
}
nav li > a:hover{
    margin: auto;
    background-color: #D9B992;
    border: 1px solid #D9B992;
    color: #3F0106;
    border-radius: 10px;
}
h1{
    width: 167.792px;
}
.fa-solid{
    font-size: 4.5em;
    margin: 0.5em;
}
ul .fa-solid:hover{
    color: white;
}
.menu-de-icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    border: 3px solid #3F0106;
    border-radius: 100%;
}
.user:hover{
    border: 3px solid white;
    border-radius: 100%;
}
.menu-de-icones a{
    vertical-align: middle;
}
.menu-de-icones li{
    vertical-align: middle;
}
img{
    vertical-align: middle;
}

/* MODELANDO OS CARDS */
main .container{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    vertical-align: bottom;
    align-items: stretch;
}
main section{
    margin-top: 5em;
}
main .card{
    background-color: #3F0106;
    text-align: center;
    margin: 1em;
    border-radius: 35px;
    width: 24%;
    min-height: 55%;
}
main .carrinho-de-compras{
    margin-top: auto; /* Empurra para a parte inferior do card */
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main h3{
    font-size: 4em;
    color: #3F0106;
    margin-left: 3em;
}
main p{
    color: #D9B992;
    width: 364px;
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
    padding: 0.5em;
}
main .carrinho-de-compras a{
    color:#D9B992;
}
main .preco{
    background-color: #250101;
    border: 1px solid #D9B992;
    vertical-align: middle;
    border-radius: 100px;
    text-align: right;
    padding: 0.5em;
    margin: 1em;
    vertical-align: bottom;
}
main .preco b{
    text-align: left;
}
main i{
    font-size: 20px;
}
main b{
    font-size: 24px;
}
main a{
    font-size: 0.6em;
}
main a:hover{
    color: #250101;
    background-color: #D9B992;
    border-radius: 90%;
}
main img{
    margin-top: 3em;
    vertical-align: bottom;
}
