
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/Backgrounds/back.png);
    background-size: 20%;
    background-repeat: repeat;
}

.carousel-item img {
    width: 800px; 
    height: 400px; 
    object-fit: cover; /* serve pra ajeitar a resolução da imagem */
}
.carousel-caption {
    margin: 7.5%;
}
.carousel-caption h5{
    font-size: 3em;
    color: #D9B992;
}

header{
    display: flex;
}
#categoria{
    display: flex;
}



/* CSS PARA A PARTE DOS MAIS VENDIDOS v */
.mais-vendidos{
    margin: 0 auto;
    text-align: center;
    /* Raica: aqui me fudeo, como q eu arrumo esse texto? */
    background-image: url(imgs/Backgrounds/background-MaisVendidos.png);
    /* Raica: bem bugadinho graças a Deus */
    padding-top: 5%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.cards-conteiner{
    /* Raica: assim, aparentemente, mas sinto q dava pra fazer sem essa div, só nn sei como */
    display: flex;
}

.mais-vendidos a{
    padding-inline: 0;
    padding-block: 0.3em;
    border: 1px solid #3F0106;
    color: #3F0106;
}
.mais-vendidos h2{
    color: #D9B992;
    padding: 2em;
}


/* ANIMAÇÃO FLIP */
.flip-container {
    position: relative;
    margin: 0 auto;
    width: 277px;
    height: 370px;
    perspective: 1000px;
}

.flipper{
	width: 100%;
	height: 100%;
    position: relative;
    transition: transform 0.8s;
	transform-style: preserve-3d;
   
}

.flipper .tras{
    transform: rotateY(180deg); 
}

.flip-container.active .flipper {
    transform: rotateY(180deg); 
}

.frente, .tras{
   backface-visibility: hidden;
}

.frente {
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #D9B992;
    color: #D9B992;
}

.tras{
    position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #3F0106;
    color: #D9B992;
}

.flip-container .flipper .frente h3 {
    margin-top: 70%;
    font-size: 30px;
}

.flip-container .flipper .tras h3 {
    margin-top: 50%;
    font-size: 30px;
}

.flipper .frente .div-image img {
    position: absolute;
    left: 50%;
    bottom: 60%;
    width: 60%;
    height: 45%;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #D9B992;
}

.flipper .tras .div-image {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 60%;
    height: 45%;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #3F0106;
    background-color: #3F0106;
}

.flipper .tras .div-image img {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 60%;
    height: 45%;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #3F0106;
    opacity: 0;
    z-index: 0;
}

.flipper .frente a {
    position: absolute;
    left: 60%;
    top: 80%;
    text-decoration: none;
    color: #3F0106;
    background-color: #D9B992;
    width: 45%;
    height: 15%;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 10px;
    margin-top: 10%;
    font-size: 25px;
}

.flipper .tras a {
    position: absolute;
    right: 60%;
    top: 80%;
    text-decoration: none;
    background-color: #3F0106;
    width: 45%;
    height: 15%;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 10px;
    margin-top: 10%;
    font-size: 0;
    z-index: 0;
    outline: none;
    content: "";
    overflow: hidden;
}
.flipper .tras p{
    position: absolute;
    z-index: 1;
}



/* CSS DA PARTE DO SUBMENU COM OS DOCES */
#categoria{
    background-color: #3F0106;
    padding: 3em;
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
} 
#categoria div{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.76em;
    color: #D9B992;
    margin: auto 0;
    border: 1px solid #3F0106;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    vertical-align: bottom;
}
#categoria div:hover{
    margin: auto 0;
    height: 200px;
    width: 200px;
    border: 1px solid #D9B992;
    border-radius: 10px;
}
.imagem-categoria{
    height: 30px;
}
#categoria div > a{
    text-decoration: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #D9B992;
}
#categoria img{
    vertical-align: middle;
}
#categoria p > a{
    color: #D9B992;
    text-decoration: none;
}


/* CSS DA PARTE DO MENU*/
header{
    background-color: #3F0106;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    align-content: center;
    padding: 0.8em;
}
.menu-de-icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-de-icones ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav{
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    margin: auto 0;
} 
header ul{
    padding: 0; 
    text-align: left;
    margin: 0 auto;
}
header li{
    display: inline;
    margin: auto 0;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header nav li a{
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: #3F0106;
    border: 1px solid #3F0106;
    color: #D9B992;
    border-radius: 10px;
}
nav h2{
    margin: 0 auto;
    margin: 0 auto;
    font-size: 2.8em;
    margin-bottom: 0;
}
nav li > a:hover{
    margin: auto;
    background-color: #D9B992;
    border: 1px solid #D9B992;
    color: #3F0106;
    border-radius: 10px;
}
h1{
    width: 167.792px;
}
.fa-solid{
    font-size: 4.5em;
    margin: 0.5em;
}
.fa-solid:hover{
    color: white;
}
.menu-de-icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    border: 3px solid #3F0106;
    border-radius: 100%;
}
.user:hover{
    border: 3px solid white;
    border-radius: 100%;
}
.menu-de-icones a{
    vertical-align: middle;
}
.menu-de-icones li{
    vertical-align: middle;
}
img{
    vertical-align: middle;
}

/* parte das frutas */
body {
    text-align: center;
    background-color: #f8e8c8;
}


/* Girando cada fatia corretamente */

.slice1 { 
    transform: rotate(0deg); 

}
.slice2 { 
    transform: rotate(45deg); 
}

.slice3 { 
    transform: rotate(90deg); 
}
.slice4 { 
    transform: rotate(135deg); 
}
.slice5 { 
    transform: rotate(180deg); 
}
.slice6 { 
    transform: rotate(225deg); 
}
.slice7 { 
    transform: rotate(270deg); 
}
.slice8 { 
    transform: rotate(315deg); 
}

/* isso daqui tem que ficar depois dos slices por algum motivo que eu não sei */
.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center center; /* Gira em torno do próprio centro */
    transform: rotate(-45deg); /* Corrige a rotação das imagens */
}
.slice img {
    border: 3px solid black;
    border-radius: 50%;
}

.pizza-container {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: scale(0.8);
}

.fruits {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    /*padding-left: 20%;*/
}
.container-fruits {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: #D9B992;
    /*padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;*/
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    /* QUANTA GAMBIARRA MEUDEUS */
}
.container-fruits p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
}


.fruits2 {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.pizza-container2 {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: scale(0.8);
    
}
.container-fruits2 {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: #D9B992;
    /*padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;*/
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    /* QUANTA GAMBIARRA MEUDEUS */
}
.container-fruits2 p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
}
/* parte das frutas */




/* Forms enconmendas */

/*custom font*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/

/*basic reset*/
* {margin: 0; padding: 0;}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/* Forms encomendas */
