
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/Backgrounds/back.png);
    background-size: 20%;
    background-repeat: repeat;
}

.carousel-item img {
    width: 800px; 
    height: 400px; 
    object-fit: cover; /* serve pra ajeitar a resolução da imagem */
}
.carousel-caption {
    margin: 7.5%;
}
.carousel-caption h5{
    font-size: 3em;
    color: #D9B992;
}

header{
    display: flex;
}
#categoria{
    display: flex;
}



/* CSS PARA A PARTE DOS MAIS VENDIDOS v */
.mais-vendidos{
    margin: 0 auto;
    text-align: center;
    /* Raica: aqui me fudeo, como q eu arrumo esse texto? */
    background-image: url(imgs/Backgrounds/background-MaisVendidos.png);
    /* Raica: bem bugadinho graças a Deus */
    padding-top: 5%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.cards-conteiner{
    /* Raica: assim, aparentemente, mas sinto q dava pra fazer sem essa div, só nn sei como */
    display: flex;
}

.mais-vendidos a{
    padding-inline: 0;
    padding-block: 0.3em;
    border: 1px solid #3F0106;
    color: #3F0106;
}
.mais-vendidos h2{
    color: #D9B992;
    padding: 2em;
}


/* ANIMAÇÃO FLIP */
.flip-container {
    position: relative;
    margin: 0 auto;
    width: 277px;
    height: 370px;
    perspective: 1000px;
}

.flipper{
	width: 100%;
	height: 100%;
    position: relative;
    transition: transform 0.8s;
	transform-style: preserve-3d;
   
}

.flipper .tras{
    transform: rotateY(180deg); 
}

.flip-container.active .flipper {
    transform: rotateY(180deg); 
}

.frente, .tras{
   backface-visibility: hidden;
}

.frente {
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #D9B992;
    color: #D9B992;
}

.tras{
    position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #3F0106;
    color: #D9B992;
}

.flip-container .flipper .frente h3 {
    margin-top: 70%;
    font-size: 30px;
}

.flip-container .flipper .tras h3 {
    margin-top: 50%;
    font-size: 30px;
}

.flipper .frente .div-image img {
    position: absolute;
    left: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #D9B992;
}

.flipper .tras .div-image {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #3F0106;
    background-color: #3F0106;
}

.flipper .tras .div-image img {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 50%;
    border: solid 3px #3F0106;
    opacity: 0;
}

.flipper .frente a {
    position: absolute;
    left: 60%;
    top: 80%;
    text-decoration: none;
    color: #3F0106;
    background-color: #D9B992;
    width: 123px;
    height: 55px;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 10px;
    margin-top: 10%;
    font-size: 25px;
}

.flipper .tras a {
    position: absolute;
    right: 60%;
    top: 80%;
    text-decoration: none;
    background-color: #3F0106;
    width: 123px;
    height: 55px;
    /* Raica: aqui tá dando ruim no back, qnd tu diminui a tela, ele tá ficando feio, pq ele diminui, 
    mas o card nn, fora q a página principal tem q ser responsiva */
    /* em resumo, ajeitar erra porra */
    border-radius: 10px;
    margin-top: 10%;
    font-size: 0;
}



/* CSS DA PARTE DO SUBMENU COM OS DOCES */
#categoria{
    background-color: #3F0106;
    padding: 3em;
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    display: flex;
    justify-content: center;
} 
ul{
    padding: 0; 
    text-align: center;
}
li{
    display: inline;
}
a{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.76em;
    color: #D9B992;
    margin-bottom: 2px;
    border-radius: 10px;
}
a:hover{
    margin-bottom: 0;
}



/* CSS DA PARTE DO MENU*/
header{
    background-color: #3F0106;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 0.5em;
}
nav{
    text-align: center;
    color: #D9B992;
    text-decoration: none;
} 
ul{
    padding: 0; 
    text-align: center;
}
li{
    display: inline;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-bottom: 2px;
    border-radius: 10px;
}
h2{
    font-size: 2.8em;
}
a:hover{
    margin-bottom: 0;
}

