
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/Backgrounds/back.png);
    background-repeat: repeat;
}



.carousel-item img {
    width: 800px; 
    height: 400px; 
    object-fit: cover; /* serve pra ajeitar a resolução da imagem */
}

header{
    display: flex;
}
#categoria{
    display: flex;
}



/* CSS PARA A PARTE DOS MAIS VENDIDOS v */
.mais-vendidos{
    margin: 0 auto;
    text-align: center;
    display: flex;
}



/* ANIMAÇÃO FLIP */
.flip-container {
    position: relative;
    margin: 0 auto;
    width: 277px;
    height: 370px;
    perspective: 1000px;
}

.flipper{
	width: 100%;
	height: 100%;
    position: relative;
    transition: transform 0.8s;
	transform-style: preserve-3d;
   
}

.flipper .tras{
    transform: rotateY(180deg); 
}

.flip-container.active .flipper {
    transform: rotateY(180deg); 
}

.frente, .tras{
   backface-visibility: hidden;
}

.frente {
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #D9B992;
    color: #D9B992;
}

.tras{
    position: absolute;
	width: 100%;
	height: 100%;
    background-color: #3F0106;
    border-radius: 20px;
    border: solid 3px #3F0106;
    color: #D9B992;
}

.flip-container .flipper .frente h3 {
    margin-top: 70%;
    font-size: 30px;
}

.flip-container .flipper .tras h3 {
    margin-top: 50%;
    font-size: 30px;
}

.flipper .frente .div-image img {
    position: absolute;
    left: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: solid 3px #D9B992;
}

.flipper .tras .div-image {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: solid 3px #3F0106;
    background-color: #3F0106;
}

.flipper .tras .div-image img {
    position: absolute;
    right: 50%;
    bottom: 60%;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: solid 3px #3F0106;
    opacity: 0;
}

.flipper .frente a {
    position: absolute;
    left: 60%;
    top: 80%;
    text-decoration: none;
    color: white;
    background-color: #D9B992;
    width: 123px;
    height: 55px;
    border-radius: 10px;
    margin-top: 10%;
    font-size: 25px;
}

.flipper .tras a {
    position: absolute;
    right: 60%;
    top: 80%;
    text-decoration: none;
    background-color: #3F0106;
    width: 123px;
    height: 55px;
    border-radius: 10px;
    margin-top: 10%;
    font-size: 0;
}



/* CSS DA PARTE DO SUBMENU COM OS DOCES */
#categoria{
    background-color: #3F0106;
    padding: 3em;
    text-align: center;
    color: #D9B992;
    text-decoration: none;
    display: flex;
    justify-content: center;
} 
ul{
    padding: 0; 
    text-align: center;
}
li{
    display: inline;
}
a{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.76em;
    color: #D9B992;
    margin-bottom: 2px;
    border-radius: 10px;
}
a:hover{
    margin-bottom: 0;
}



/* CSS DA PARTE DO MENU*/
header{
    background-color: #3F0106;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.5em;
}
nav{
    text-align: center;
    color: #D9B992;
    text-decoration: none;
} 
ul{
    padding: 0; 
    text-align: center;
}
li{
    display: inline;
}
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.6em;
    color: #D9B992;
    margin-bottom: 2px;
    border-radius: 10px;
}
h2{
    font-size: 2.8em;
}
a:hover{
    margin-bottom: 0;
}

/* CSS DA PARTE DOS MAIS VENDIDOS COM OS DOCES */
.mais-vendidos{
    background-image: url(imgs/Backgrounds/Group\ 2.png)
    /* bem bugadinho graças a Deus */
}
